.vscode/**
.vscode-test/**
.github/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
.env*
node_modules/**/*.ts
node_modules/**/test/**
